html {
  background-color: rgba(0, 0, 0, 0.4);
}
body {
	background: transparent;
}
.events .event {
	display: block;
	width: 100%;
	margin: 10px 20px;
	padding: 12px;
	border: 2px solid white;
	border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.8);
}
.header {
	width: 100%;
	margin: 10px 20px;
	color: #fff;
}
.container {
	padding: 25px;
}

#datepicker {
	padding: 0 12px;
}
#timepicker {
	padding: 0 12px;
}
.header {
	font-size: 30px;
	font-weight: bold;
}


.hotspot {
	font-weight: bold;
}

.opendetail {
	padding: 0 0 0 2px;
	font-weight: bold;
	border: 1px solid black;
	background: white;
}

.btn-get, .btn-findfoodbtn {
	background: gold;
}

.btn-foundfood {
	background: greenyellow;
	border: 1px solid black;
}